.navbar-default {
    background-color: inherit;
    border-color: #444;
}

#top_menu {
     color:#444;
     text-transform:uppercase;
     background:inherit;
	}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f0b61c;
    background:inherit;
}

.navbar-default .navbar-nav > .active > a
{
    display: block;
    line-height: 60px;
    padding: 0 20px;
    white-space: nowrap;
    border-right-width: 1px;
    border-style: solid;
    border-color:rgba(0,0,0,.05);
}
